<h2 mat-dialog-title>Edit</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Number</mat-label>
    <input matInput type="text"  [(ngModel)]="tempRow.position" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" [(ngModel)]="tempRow.name" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Weight</mat-label>
    <input matInput type="text" [(ngModel)]="tempRow.weight" />
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Symbol</mat-label>
    <input matInput type="text" [(ngModel)]="tempRow.symbol" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-raised-button (click)="onSaveClick()" cdkFocusInitial>Save</button>
</mat-dialog-actions>